$blue:#324157;
$light-blue:#2a579a;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;

//sidebar
$menuBg:#e3e7ec;
$subMenuBg:#e3e7ec;
$menuHover:rgb(216, 218, 220);
